.version:after{
  content: "1.4.8";
  text-shadow: 2px 2px black;
}

body{
  background-image: url("assets/bg.png");
  background-repeat: repeat;
  margin:0;
  color:white;	
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida   Typewriter, monospace;
  overflow: hidden;
  text-align: center;
  scroll-behavior: smooth;
  min-width:320px;
}

#game iframe{
  height:100%;
  width:100%;
  border:1px solid black;
}

#header{
  width:100%;
  height:12.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header img{
  height:90%;
  cursor:pointer;
}

#info{
  text-align: left;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  padding-bottom:2px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.autoButton{
  background-image: linear-gradient(to right, #66c2ff, #006bb3);
  width: 10vw;
  min-width: 95px;
  height: 18px;
  margin: 0 15px;
  border-radius: 5px;
  font-weight: bold;

  box-shadow: 0px 0px 10px rgba(0,153,255,0.8);
  -o-box-shadow: 0px 0px 10px rgba(0,153,255,0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,153,255,0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(0,153,255,0.8);

  /*For use in main menu*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align:middle;

  text-align: center;

  display: inline-block;
  transition: 0.3s;
}

.autoButton:hover{
  cursor: pointer;

  box-shadow: 0px 0px 10px rgba(0,153,255,1);
  -o-box-shadow: 0px 0px 10px rgba(0,153,255,1);
  -moz-box-shadow: 0px 0px 10px rgba(0,153,255,1);
  -webkit-box-shadow: 0px 0px 10px rgba(0,153,255,1);
  transition: 0.3s;
}

.manual{
  background-image: linear-gradient(to right, #70db70, #29a329) !important;
  box-shadow: 0px 0px 10px rgba(51,204,51,0.8) !important;
  -o-box-shadow: 0px 0px 10px rgba(51,204,51,0.8) !important;
  -moz-box-shadow: 0px 0px 10px rgba(51,204,51,0.8) !important;
  -webkit-box-shadow: 0px 0px 10px rgba(51,204,51,0.8) !important;
}

.manual:hover{
  box-shadow: 0px 0px 10px rgba(51,204,51,1) !important;
  -o-box-shadow: 0px 0px 10px rgba(51,204,51,1) !important;
  -moz-box-shadow: 0px 0px 10px rgba(51,204,51,1) !important;
  -webkit-box-shadow: 0px 0px 10px rgba(51,204,51,1) !important;
}

.btLeft{
  display: table-cell;
  width: 8vw;
  min-width: 76px;
}

.btRight{
  background-image: url("assets/auto.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;

  border-left: 3px dotted green;

  display: table-cell;
  width:2%;
  min-width:19px;
}

select{
  border: 0px;
  border-radius: 5px;
}

#diff{
  margin-left:10px;
}

.opt{
  border-left: 3px dotted white;
  padding-left: 5px;
  margin-left: 10px;
  line-height:18px;
  display: none;
}

.opt input[type=text]{
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida   Typewriter, monospace;
  text-align: center;
  width:100px;
}

#display{
  background-image: linear-gradient(to right, #ffc900, #f29b00);
  width: 80px;
  margin: 0 15px;
  border-radius: 5px;
  font-weight: bold;

  box-shadow: 0px 0px 10px rgba(242,155,0,0.8);
  -o-box-shadow: 0px 0px 10px rgba(242,155,0,0.8);
  -moz-box-shadow: 0px 0px 10px rgba(242,155,0,0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(242,155,0,0.8);

  text-align: center;
  display: inline-block;
}

#display:hover{
  cursor: pointer;

  box-shadow: 0px 0px 10px rgba(242,155,0,1);
  -o-box-shadow: 0px 0px 10px rgba(242,155,0,1);
  -moz-box-shadow: 0px 0px 10px rgba(242,155,0,1);
  -webkit-box-shadow: 0px 0px 10px rgba(242,155,0,1);
  transition: 0.3s;
}

#orb {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(242,155,0,1));
  filter: drop-shadow(0px 0px 5px #f29b00);
}

#charTable{
  position:absolute;
  height:100%;
  z-index:40;

  top: -50%;
  right: 30px;

  opacity:0;
  transition:0.2s;
}

.opaque{
  opacity:1 !important;
}

#charTable img{
  padding: 2px;
  margin: -2px;
  border-radius:5px;
  background-color:transparent;
}

#charTable img.selected{
  background-color:gray;
}

.godmode{
  width:16px;
  margin-right:5px !important;
}

.godmode.active{
  animation:rotate 1s infinite linear;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}

#main{
  display:flex;
  flex-direction: column;
  height:85vh;
}

#action{
  display:flex;
}

#editor, #game{
  position:relative;
  flex-grow: 1;
  width:100%;
}

#edit{
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 30px;
  line-height:15px;
  text-align:left;
  height:70vh;
  width:100%;
}

.night{
  filter: invert(80%);
}

#terminal{
  text-align: left;
  background-color: rgba(0,0,0,0.5);
  padding-left:1.5em;
  height: 100%;
  overflow-y: scroll;
  flex-grow:1;
}

#editPanel, #gamePanel{
  background-color:rgba(100,100,100,0.1);
  border-radius:25px;
  border-spacing:5px;
  padding: 5px 5px;

  position:absolute;
  bottom: 15px;

  z-index:5;
  opacity:0.4;
  transition:0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#editPanel:hover, #gamePanel:hover{
  opacity:1;
  transition:0.2s;
}

.panelButton{
  background-image:linear-gradient(#C3C3C3, #A6A6A6);
  border-radius:10px;
  width:35px;
  min-width:35px;
  height:30px;
  margin:10px 10px;

  /*For use inside the main menu*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panelButton:hover{
  cursor: pointer;
}

.panelButton a{
  display:block;
  width:100%;
  height:100%;
}

.panelButton img{
  width: 70%;
  height: auto;
  display:block;
  margin:0 auto;
}

#windowClose, #up, #down{
  display:none;
}

#fileUpload{
  position:absolute;
  opacity:0;
  top:0;
  width:0;
  height:0;
}

.tiny{
  font-size: 65%;
}

.warning{
  color:orange;
}

.error{
  color:red;
  font-weight: bold;
}

.no-error{
  color:LightGreen;
}

.fatal{
  text-decoration:underline;
}

.gameLog, .compLog{
  font-weight: bold;
  background-color: black;
}

.gameLog{
  color: green;
}

.compLog{
  color: rgb(51, 153, 255);
}

.separator{
  color:gray;
  font-weight: bold;
  letter-spacing: -3px;
}

[data-tip] {
  position: relative;
}

[data-tip]:hover:after {
  content: attr(data-tip);

  /*To fix a conflict for tags in the main menu*/
  -webkit-text-fill-color: white;
  text-indent: 0;

  text-align:center;
  font-size: 0.7em;
  font-weight: normal;

  position: absolute;
  bottom:120%;

  left: 50%;
  transform: translateX(-50%);

  padding: 10px;
  background-image: url("assets/bg.png");
  background-size: 9%;
  background-repeat: repeat;

  border: 2px solid black;
  border-radius:25px;
  z-index:40;

  filter:brightness(110%);

  box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);

  animation: fadeEffect 0.2s;
}

#infoMenu{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width:80vw;
  height:80vh;

  background-image: url("assets/bg.png");
  background-repeat: repeat;

  border: 2px solid black;
  padding: 30px 30px 0px 30px;
  padding-bottom: 0px; /*possible mobile issue*/
  border-radius:25px;
  z-index:50;

  box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);

  filter:none;

  display:none;
  overflow:hidden;
}

#menuClose{
  max-width:25px;
  position:absolute;
  top:25px;
  right:25px;
  cursor:pointer;
}

#tab{
  margin-bottom:1%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tab button {
  background-color: transparent;
  display:inline-block;

  border: none;
  border-radius:25px;
  outline: none;
  cursor: pointer;

  padding: 5px;
  transition: 0.3s;

  color:white;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida   Typewriter, monospace;
}

#tab button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#tab button.active {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight:bold;
}

.tabcontent:before{
  content:"";
  position:absolute;

  bottom:0;
  left:50%;
  transform: translateX(-50%);
  width: calc(100% - 60px);
  height:0;

  background-image: linear-gradient(#230834, rgba(0,0,0,0));
}

.tabcontent {
  display: none;
  /*animation: fadeEffect 0.1s;*/
  padding: 0px 20px;
  height: 94%;

  overflow:auto;
  scrollbar-width:none;

  scrollbar-width: thin;
  scrollbar-color: #FEC90020 #230834;

   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

  background-image: url("assets/bg.png");
  background-repeat: repeat;
}

.tabcontent:after{
  content:"";
  position:absolute;

  bottom:0;
  left:50%;
  transform: translateX(-50%);
  width: calc(100% - 60px);
  height:0;

  background-image: linear-gradient(rgba(0,0,0,0),#230834);
}

.tabcontent ul ul li{
  font-size: 2vh;
}

.tabcontent p, .tabcontent ul li{
  text-indent: 25px;
  text-align:justify;
  font-size: 2.5vh;
}


.tabcontent h3, .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.left{
  text-align: left !important;
  display:block;
}

.right{
  float:right;
  width:15%;
  margin:1%;
  padding:1%;
  background-color:rgba(1,1,1,0.5);
  background-clip: padding-box;
  border-radius:5px;
}

.tabcontent h3{
  font-size:3vh;
}

.tabcontent h4{
  font-size:3.5vh;
  text-align:left;
  margin:0px;
  padding:0px;
}

.tabcontent h4:before{
  content: "";
  width: 2vh;
  height:1.9vh;
  background-image:url("assets/fav.png");
  background-size: contain;
  display:inline-block;
  margin: 0px 10px 0px 0px;
}

.tabcontent h5{
  font-size:2.6vh;
  text-align:left;
  margin:50px 0 0 0;
  padding:0px;
}

.tabcontent a, #terminal a{
  background: -webkit-linear-gradient(#F29B00, #FEC900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline dotted #FEC900;
  font-weight: bold;
  cursor:pointer;
}

.inline-icon{
  display:inline-block;
  width:2.5vh !important;
  height:2.5vh;
  vertical-align:middle;
  margin-left:0.75vh;
}

.handle, .key{
  background-color:#12001E;

  border-radius:25px;
  border: 2px solid black;
  padding:2.5px 5px;

  box-shadow: 0px 0px 5px black;
  -o-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
}

.tabcontent table{
  width:100%;
  margin-top:10px;
  margin-bottom:80px;
  border:4px solid #230834;
  border-radius:25px;
  border-collapse: collapse;
  padding:0;
}

.tabcontent table th{
  background-color:#2E144180;
  border-bottom:4px solid #230834;
  font-size: 2.5vh;
}


#features.tabcontent table tr:nth-child(2n){
  background-color:#1C003180;
}

#features.tabcontent table td:first-child {
  width:40px;
  display:inline-block;
  padding: 4px;
}

.key{
  background-image: linear-gradient(#1B141F, #12001E);
  display:inline-block;

  line-height:2.5vh;
  height:2.5vh;
  min-width:2.3vh;

  text-align: center;
  text-indent:0px;
  font-weight:bold;

  border-radius:5px;
  vertical-align:middle;
  overflow:hidden;
  margin: 0 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.key img{
  display:inline-block;
  margin: 0 0;
}

div.retractbox{
	border:5px solid #1C0031;
	border-radius:10px;
	margin: 15px auto;
	display: block;
	width:80%;
}

p.retracttitle{
	background-color:#1C0031;
	padding:5px 5px;
	margin:0;
	text-align:center;
	font-weight:bold;
}

div.retract{
	display:none;
	background-image: linear-gradient(#1C0031, #2F173F);
	margin:0;
	border:0.1px solid #1C0031;
}

div.retract table{
	border: 0;
	margin: 0;
	padding: 0;
}

div.retract #transformTable li{
	font-size: 1em;
}

div.retract iframe{
  height:1000px;
  width:100%;
  border: none;
}

div.retract td{
	width: 25%
	vertical-align:top;
}	

div.retract td:nth-child(2n){
  background-color:#1C003140;
}

div.retracthint{
	padding:10px;
	text-align:center;
	background-image: linear-gradient(#2F173F, #1C0031);
	font-size: 0.7em;
	cursor:pointer;
	
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.retracthint img{
	width:20px;
	margin:2px;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}