body{
  overflow: hidden scroll;
}

#header img{
  width:70%;
  height:80%;
}

#info{
  margin: 10px 0;

  padding-top:5px;
  border-top: 3px dashed gray;

  padding-bottom:5px;
  border-bottom: 3px dashed gray;
}

#main{
  height: auto;
}

#game{
  height: 116vw;
}

#action{
  flex-wrap: wrap;
}

.CodeMirror {
  width:100% !important;
  height: 100vw !important;
  resize: none !important;
  font-size:0.9em;
  background-size: 100% 33.6px !important;
}

.panelButton{
  width: 5vw;
}

#up, #down{
  display:table-cell;
}

#windowOpen{
  display:none;
}

#terminal{
  height:20vh;
}

.tabcontent p{
  text-align:left;
}

.tabcontent table td:nth-child(2), .tabcontent table th:nth-child(2){
  display:none;
}

.right{
  display:none;
}